
<h1>Bienvenidos!!! ...</h1>

<!-- Crear un componente nuevo con su respectiva ruta y un boton que visualice el componente nuevo. -->

<!--<a (click)="nuevaRuta()">Verbos del campo.</a><br /><br />

 Botón de Ejemplo, Usando rutas en angular

<a (click)="cambioRuta()">Botón con metodo..</a><br />
<a href="/Inicio">Inicio...</a><br>
<button routerLink="

/Listado"> Ver Nombres.. </button><br>
<a href="/Listado"><button>Ver Nombres 1..</button></a>-->

<!-- Ejercicio Número 1 para iniciar la clase-->
<!--@if (MostrarTitulo) {
  <h3> Tabla de prestamos de libros... </h3>
}

<table class="Tablaprestamos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Libro</th>
      <th>Código de Libro</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    @for (Persona of Listado; track $index) {
      <tr>
        <td>{{Persona.Nombre}}</td>
        <td>{{Persona.Edad}}</td>
        <td>{{Persona.LibroPrestado}}</td>
        <td>{{Persona.Registro}}</td>
        <td>{{Persona.DescripcionPrestamo}}</td>
      </tr>
    }
  </tbody>
</table>-->
